main {
    padding: 0;
    display: block;
    margin: 0 auto;
    width: 100%;
    background: url(/images/about2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
  }
main article {
    position: relative;
    top: 200px;
    z-index: 2;
    color: black;
    font-family: Georgia, serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 0px;
    font-weight: 700;
    text-decoration: none solid #444444;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    text-align: justify;
  }

  @media screen and (max-width: 768px) {
    main article {
      position: relative;
      top: 300px;
      left: 0px;
      z-index: 2;
      color: black;
      font-family: Georgia, serif;
      font-size: 20px;
      letter-spacing: 2px;
      word-spacing: 0px;
      font-weight: 700;
      text-decoration: none solid #444444;
      font-style: normal;
      font-variant: normal;
      text-transform: uppercase;
      text-align: center;
    }
  }
  @media screen and (max-width: 480px) {
      main article {
        position: relative;
        top: 75px;
        left: 0px;
        width: 100%;
        z-index: 2;
        color: black;
        font-family: Georgia, serif;
        font-size: 15px;
        letter-spacing: 2px;
        word-spacing: 0px;
        font-weight: 700;
        text-decoration: none solid #444444;
        font-style: normal;
        font-variant: normal;
        text-transform: uppercase;
        text-align: center;
      }
    }
    