main {
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-family: Georgia, serif;
}
main h2 {
  padding: 5px;
}
main .ig {
  display: inline-block;
  margin-right: 100px;
  width: 50px;
  height: 50px;
  padding: 5px;
  border: 0px;
  font-size: 30px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  letter-spacing: 1px;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
main .fb {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 5px;
  border: 0px;
  font-size: 30px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  letter-spacing: 1px;
  background-color: #3106bf;
  color: white;
}