section{
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-left: 150px;
  }
  @media screen and (max-width: 768px) {
    main {
      padding: 0;
    }
    main section {
      width: 50%;
    }
    main section h3 {
      padding: 5px;
    }
    main section article {
      padding: 5px;
    }
    main section h5 {
      padding: 5px;
    }
  }
  @media screen and (max-width: 480px) {
  section{
    display: block;
    width: 50%;
    text-align: justify;
    margin-right: 0px;
  }
  }